/*universal style*/
*{
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.main-title{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    font-weight: 700;
    margin-bottom: 1%;
}

.green{
    color: hsl(192, 100%, 9%);
    font-size: 1;
    line-height: 1.5;
}

figcaption{
    font-size: 1;
    line-height: 1.5;
}

.white{
    color: hsl(192, 100%, 9%);
    font-size: 1rem;
    background-color: white;
    border: 0;
    width: 220px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 1px 3px  9px  hsl(0, 0%, 90%); 
    font-family: 'Poppins', sans-serif;
}

.pink{
    color: white ;
    font-size: 1rem;
    background-color: hsl(322, 100%, 66%);
    border: 0;
    width: 250px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 1px 3px  9px   hsl(0, 0%, 80%);; 
    margin-top: 2.5%;
    font-family: 'Poppins', sans-serif;
}

.center{
    text-align: center;
    
}

h1{
    font-size: 1.3rem;
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
}

button:hover{
    opacity: .7;
    cursor: pointer;
}

/*main style*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    width: 100%;
    height: 700px;
    background-image: url('../images/bg-hero-desktop.svg');
    background-color: hsl(193, 100%, 96%);
}

/*header style*/
header{
  display: flex;
  align-items: center;
  width: 100%;
  height : 100px;
  margin-bottom: 3%;
}

/*banner style*/
.banner{
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
}

/*main-content style*/

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 9% 0 5% ;
}

.main-content figure{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15PX;
    width: 70%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0  9px  hsl(0, 0%, 90%); 
}

.main-content figure img{
    width:35%;
    height: 30%;
}

.main-content figcaption{
    width: 60%;
    padding: 5% 3.5%;
}

.main-content p{
    font-size: 1rem;
    color: hsl(208, 11%, 55%);
    line-height: 1.5;
    width: 90%;
}

/*sub-content*/
.sub-content{
    width: 50%;
    height: 275px;
    position: relative;
    bottom: -100px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0  9px  hsl(0, 0%, 90%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15PX;
}


/*footer style*/
footer{
    height: 550px;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2.5rem;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

.footer-content{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}


.footer-left{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer-left figure{
    display: flex;
    align-items: flex-start;
    margin: 0 0 5% 0;  
}

.footer-left img{
    margin: 1% 0 5%;
    padding: 0;
}

.footer-left figcaption{
    margin: 0 0 0 5%;
    padding: 0;
}

/*right side footer style*/
.footer-right{
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

ul{
    list-style-type: none;
    width: 33%;
    height: 42%;
    padding: 0;
}

li{
    margin-bottom: 10% ;
}

a{
    font-weight: 500;
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.social-media{
    display: flex;
}

.social-media li{
    margin-left: 7%;
}

.social-media i {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover i{
    border: 1px solid hsl(322, 100%, 66%);
}

.social-media a:hover{
    text-decoration: none;
    color: hsl(322, 100%, 66%);
}

.copy-right a{
    color: hsl(322, 100%, 66%);
}

.copy-right a:hover{
    font-weight: 600;
}
