/*universal style*/
*{
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    max-width: 1440px;
}

.main-title{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    font-weight: 700;
    margin-bottom: 1%;
}

@media screen and (max-width:700px){
    .main-title{
        font-size: 2rem;
         width: 100%;
    }
}


.green{
    color: hsl(192, 100%, 9%);
    font-size: 1;
    line-height: 1.5;
}

figcaption{
    font-size: 1;
    line-height: 1.5;
}

.white{
    color: hsl(192, 100%, 9%);
    font-size: 1rem;
    background-color: white;
    border: 0;
    width: 220px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 1px 3px  9px  hsl(0, 0%, 90%); 
    font-family: 'Poppins', sans-serif;
}

.pink{
    color: white ;
    font-size: 1rem;
    background-color: hsl(322, 100%, 66%);
    border: 0;
    width: 250px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 1px 3px  9px   hsl(0, 0%, 80%);; 
    margin-top: 2.5%;
    font-family: 'Poppins', sans-serif;
}

.center{
    text-align: center;
    
}

h1{
    font-size: 1.3rem;
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
}


button:hover{
    opacity: .7;
    cursor: pointer;
}

/*main style*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    width: 100%;
    height: 700px;
    background-image: url('../images/bg-hero-desktop.svg');
    background-color: hsl(193, 100%, 96%);
}

/*header style*/
header{
  display: flex;
  align-items: center;
  width: 100%;
  height : 100px;
  margin-bottom: 3%;
}

@media screen and (max-width:700px) {
    main {
        justify-content: flex-start;
        align-items: flex-start;
    }

    header img{
        width: 185px;
    }

    header figure{
        flex-grow: 1;
        width: 45%;
    }

    .white{
        width: 45%;
        margin-left: 5%;
    }

}

/*banner style*/
.banner{
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
}

.banner-section{
    width: 40%;
}

.banner-figure{
    width: 55%;
    margin-left: 5%;
}

.banner-figure img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:850px) {
    main{
    background-image: url('../images/bg-hero-mobile.svg');
    background-position: center;
    background-size: cover; 
    height: auto;
    padding: 2.5rem 1rem ;  
    }
    
    .banner{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 90%;
    }

    .banner-section{
        width: 100%;
        margin-bottom: 10%;
        text-align: center;
        padding: 0;
    }
    
    .banner-figure{
        width:100%;
        margin-left:7%; 
    }

    .banner-figure img{
        height: 100%;
        width: 100%;
    }
    

}

/*main-content style*/
.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 9% 0 5% ;
}

.main-content figure{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15PX;
    width: 75%;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0  9px  hsl(0, 0%, 90%); 
}

.main-content figure img{
    width:40%;
    height: 35%;
}

.main-content figcaption{
    width: 55%;
    padding: 5% 3.5%;
}

.main-content p{
    font-size: 1rem;
    color: hsl(208, 11%, 55%);
    line-height: 1.5;
    width: 90%;
}

@media screen and (max-width:850px) {
    
    .main-content figure{
        align-items: baseline;
        flex-wrap: wrap-reverse;
        width: 95%;
    }
    
    .main-content figure img{
        width:95%;
        height: 35%;
    }
    
    .main-content figcaption{
        width: 95%;
        padding: 5%;
        text-align: center;
    }

    .main-content p{
        width: 100%;
    }
}

/*sub-content*/
.sub-content{
    width: 50%;
    height: 250px;
    position: relative;
    bottom: -90px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 -5px 9px -5px hsl(0, 0% , 93%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15PX;
}


.extra-pink{
    height: 70px;
    border-radius: 50px;
    width: 300px;
    font-size: 1rem;
    letter-spacing: 1px;
}
@media screen and (max-width:850px) {
    
    .sub-content{
        height: 230px;
    }
}

@media screen and (max-width:685px){
    .sub-content{
        width: 85%;
    }
}

/*footer style*/
footer{
    height: 550px;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4.5rem 2.5rem 1.5rem;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

.footer-content{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}


.footer-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer-left figure{
    display: flex;
    align-items: flex-start;
    margin: 0 0 5% 0;  
}

.footer-left img{
    margin: 1% 0 5%;
    padding: 0;
}

.footer-left figcaption{
    margin: 0 0 0 5%;
    padding: 0;
}

/*right side footer style*/
.footer-right{
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

ul{
    list-style-type: none;
    width: 33%;
    height: 42%;
    padding: 0;
}

li{
    margin-bottom: 10% ;
}

a{
    font-weight: 500;
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.social-media{
    display: flex;
}

.social-media li{
    margin-left: 7%;
}

.social-media i {
    height: 30px;
    width: 30px;
    border: 1.2px solid white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover i{
    border: 1px solid hsl(322, 100%, 66%);
}

.social-media a:hover{
    text-decoration: none;
    color: hsl(322, 100%, 66%);
}

.copy-right a{
    color: hsl(322, 100%, 66%);
}

.copy-right a:hover{
    font-weight: 600;
}

@media screen and (max-width:785px) {

    footer{
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 11rem 2.5rem 1.5rem;
    }
    
    .footer-content{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
    }
    
    
    .footer-left{
        width: 95%;
    }
    
    
    /*right side footer style*/
    .footer-right{
        width: 95%;
        display: flex;
        flex-direction: column;
        padding:0;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    ul{
        width: 100%;
        margin: 0;
        padding: 0;
 
    }

    li{
        margin-bottom: 5% ;
    }
    

    .social-media{
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 15%;
       
    }
    
    .social-media li{
        margin-left: 5%;
    }

    .social-media i{
        font-size: 1.2rem;
        height: 35px;
        width: 35px;
        
    }
  
    .copy-right{
        text-align: center;
    }
}

